body {
    width: 97vw;
    height: 97vh;

    background-image: url("images/indexWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*background-position: 0 10px;*/
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    color: white;
    text-align: center;
    margin-left: 7.5%;
    opacity: 90%;

    display: grid;
    grid-template-rows: 110px 110px  110px;
    grid-template-columns: 110px 110px 110px;
}

.board-item {
    border-radius: 15px 15px 15px 15px;
    background-color: black;
    border-style: solid;
}

#turn {
    align-items: center;
    justify-content: center;
}

