body {
    width: 97vw;
    height: 97vh;

    background-image: url("images/indexWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board, #turn {
    margin-left: 7.5%;

}

.board {
    color: orange;
    text-align: center;
    opacity: 90%;

    display: grid;
    grid-template-rows: 110px 110px  110px;
    grid-template-columns: 110px 110px 110px;
}

.board-item {
    /*border-radius: 15px 15px 15px 15px;*/
    background-color: black;
    border-style: solid;
}

#turn {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-style: solid;
}

@media only screen and (max-width: 699px) {
    body {
        background-image: url("images/indexMobileWallpaper.jpg");
    }

    .board, #turn {
        margin-left: 0%;
    }
}
